body{
    background-color: white;
    
}
.boxx{
    border: 1px solid black;
    margin: 30px;
    margin-left: 60px;
    margin-right: 60px;
    background-image: url("https://www.ombrulla.com/images/home/position-statement.svg");
    align-items: center;
   border-radius: 20px;
}
.secBox{
    margin-left: 200px;
}
.btnsec{
    height: 50px;
    width: 220pxpx;
    border: 0px solid ;
    background-color: blue;
    color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.btnsec:hover{
    background-color: white;
    color: blue;
    border: 1px solid black;
}