.tenBoxOne{
    margin-left: 40px;
    margin-top: 60px;
    margin: 30px;
    margin-top: 60px;
    border-radius: 50px;
    align-items: center;
    
}
.tenBoxTwo{
    margin-left: 40px;
    margin-top: 60px;
    margin: 30px;
    margin-top: 60px;
    border-radius: 50px;
    align-items: center;
}
.tenBoxThree{
    margin-left: 40px;
    margin-top: 60px;
    margin: 30px;
    margin-top: 60px;
    border-radius: 50px;
    align-items: center;
}
.tenpara{
    margin-top: -50px;
    margin-left: 60px;
    position: absolute;
}